@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-decoration: none;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: initial;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: 80%;
  display: flex;
}
.navbar .navbar-option {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover, .navbar span:hover {
  color: #3577f1;
}
.page-content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  height: 75vh;
  display: flex;
}

/* story previews / list */
.story-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.story-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.story-preview h3 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

article h3 {
  color: #f1356d;
  margin: 10px;
}

article p {
  margin: 10px;
}

article div {
  margin: 10px;
}

/* create new story form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.captial-first::first-letter {
  text-transform: capitalize;
}

/* to be deleted */
.Todo-app {
  margin-top: 30px;
}

.Todo-app h2 {
  display: flex;
  justify-content: center;
}

.Todo-app .add-task {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  button {
    margin-left: 10px;
  }
}

.Todo-app .tasks-container {
  margin-top: 60px;
}

.Todo-app .tasks-container .task {
  margin-top: 10px;
}

.Todo-app .task span {
  width: max-content;
  margin-left: 10px;
  margin-right: 10px;
}

.Todo-app .completed {
  text-decoration: line-through;
}

.Todo-app .task button {
  margin-left: 10px;
}

.signin-section, .signup-section {
  margin: auto;
  display: flex;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.signin-section section, .signup-section section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    div {
      margin-bottom: 20px;
    }
    input {
      height: 30px;
      font-size: 100%;
      margin-bottom: 5px;
    }
    span {
      margin-bottom: 20px;
    }
    button {
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 0.6em;
    }
    button:hover {
      background-color: #0056b3;
    }
}

.login-helpers {
  display: flex;
  justify-content: space-between;
}

.user-name-display button {
  border: none;
  color: #333;
  background-color: #fff;
  font-size: 16px;
}

.more-options {
  position: relative;
}

.icon-name-container {
  cursor: pointer;
}

.options-menu {
  display: grid;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 6px;
  margin: 0;
  width: max-content;
}

.options-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.options-menu li:hover {
  background-color: #f0f0f0;
}

.border-bottom {
  border-bottom: 1px solid #f2f2f2;
}