@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-decoration: none;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: initial;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  margin-right: 97%;
}
.navbar .links {
  margin-left: 86%;
  display: flex;
  position: absolute;
}
.navbar .navbar-option {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover, .navbar span:hover {
  color: #3577f1;
}
.page-content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
  height: 75vh;
  display: flex;
}

.captial-first::first-letter {
  text-transform: capitalize;
}

/* to be deleted */
.Todo-app {
  margin-top: 30px;
  margin: auto;
  margin-bottom: 70%;
}

.Todo-app h2 {
  display: flex;
  justify-content: center;
}

.Todo-app .add-task {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  button {
    margin-left: 10px;
  }
}

.Todo-app .tasks-container {
  margin-top: 60px;
}

.Todo-app .tasks-container .task {
  margin-top: 10px;
}

.Todo-app .task span {
  width: max-content;
  margin-left: 10px;
  margin-right: 10px;
}

.Todo-app .completed {
  text-decoration: line-through;
}

.Todo-app .task button {
  margin-left: 10px;
}

.signin-section, .signup-section {
  margin: auto;
  display: flex;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.signin-section section, .signup-section section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    div {
      margin-bottom: 20px;
    }
    input {
      height: 30px;
      font-size: 100%;
      margin-bottom: 5px;
    }
    span {
      margin-bottom: 20px;
    }
    button {
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 0.6em;
      a {
        color: white;
      }
    }
    button:hover {
      background-color: #0056b3;
    }
}

.signup-section section {
  height: 415px;
}

.login-helpers {
  display: flex;
  justify-content: space-between;
}

.user-name-display button {
  border: none;
  color: #333;
  background-color: #fff;
  font-size: 16px;
}

.more-options {
  position: relative;
}

.icon-name-container {
  cursor: pointer;
}

.options-menu {
  display: grid;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 6px;
  margin: 0;
  width: max-content;
}

.options-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.options-menu li:hover {
  background-color: #f0f0f0;
}

.border-bottom {
  border-bottom: 1px solid #f2f2f2;
}

.hidden {
  display: none !important;
}

.login-class {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 1px 2px 10px 4px gainsboro;
  border: none;
  border-radius: 1em;
  height: 50%;
  width: 65%;
}

.field-input-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  height: 50%;
}

.field-input-holder {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}

.field-input {
  height: 36px;
  width: 98%;
  margin-top: 13%;
  border-radius: 5px;
  border: 0.5px solid;
  outline: none;
  font-size: 100%;
}

.field-input:focus {
  border: 1px solid #0056b3;
}

.input-error {
  border: 1px solid red;
}

.back-arrow-holder {
  display: flex;
  justify-content: flex-start;
  height: 50%;
  transition: transform 0.3s ease;
}

.back-arrow-holder :hover {
  position: relative;
  transform: scale(1.1);
  box-shadow: 1px 2px 10px 4px gainsboro;
  border-radius: 50%;
}

.back-arrow {
  height: 1.1em;
  width: 1.1em;
  margin-top: 1em;
}

.user-actions {
  display: flex;
  justify-items: flex-end;
  display: flex;
  justify-content: end;
  align-items: end;
  justify-content: end;
  height: 50%;
  padding-bottom: 0%;
   button {
    margin-bottom: 5%;
    margin-right: 5%;
    height: 25%;
    width: 25%;
    background-color: #007bff;
    border: none;
    border-radius: 0.9em;
    color: white
   }
}

.user-actions button:hover {
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  a {
    color: white;
  }
}

.user-help {
  height: 25%;
  width: 33%;
  display: flex;
  margin-bottom: 5%;
  margin-right: 5%;
  border-radius: 0.9em;
}

.user-help:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.user-help a {
  font-size: 0.875rem;
  color: #007bff;
  margin: auto;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 1px 2px 10px 4px gainsboro;
  border: none;
  border-radius: 1em;
  height: 70%;
  width: 35%;
}